:root {
  --bg-color: #669bbc;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 1.8em;
}

.jumbotron {
  padding-top: 6rem;
  background-color: var(--bg-color);
}

svg {
  margin-bottom: -1px;
}

#about {
  margin-top: -10px !important;
}

#projects {
  background-color: var(--bg-color);
}

section {
  padding-top: 5rem;
}
