:root {
  --bg-color: #669bbc;
}

#about {
  overflow-x: hidden;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 1.8em;
}

.jumbotron {
  padding-top: 6rem;
  background-color: var(--bg-color);
}

svg {
  margin-bottom: -4px;
}

#about {
  margin-top: -10px !important;
}

#projects {
  background-color: var(--bg-color);
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

#contacts {
  background-color: var(--bg-color);
}
